/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  font-size: 1.75em;
  text-align: center;
}
body {
  background-color: #d1d1d1;
}

div#img {
  height: 160px;
  background: url("../Zad.jpg") no-repeat;
  background-position: center;
}

div#container { 
  background-color: #795a7d;
  border: 1px solid black;
  margin-bottom: 10px;
  position: relative;
}
p {
  margin-top: 0px;
  padding: 3px;
  clear: right;
  text-align: justify; 
}
#p1 {
  width: 40%;
  background-color: #A52A2A;
  border: 1px solid black;
  border-top-width: 0px;
  border-right-width: 0px;
  margin-bottom: 0px;
  float: right;
  clear: both;
  font-size: 1.25em;
  text-align: center;
  color: #ffffff;
}
#p2 {
  width: 40%;
  background-color: #fbec5d;
  border: 1px solid black;
  border-top-width: 0px;
  border-right-width: 0px;
  margin-bottom: 0px;
  float: right;
  clear: both;
  text-align: center;
  font-size: 1.25em;
}
#p3 {
  width: 40%;
  background-color: #6c92af;
  border: 1px solid black;
  border-top-width: 0px;
  border-right-width: 0px;
  margin-bottom: 0px;
  float: right;
  clear: both;
  text-align: center;
  font-size: 1.25em;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 0px solid green;
    padding: 0px 5px 0px 5px;
} 
  .col-lg-4  {
    width: 33.33%;
  }
  .col-lg-4 #container {
    height: 310px;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 0px solid green;
    padding: 0px 5px 0px 5px;
  } 
  .col-md-6 {
    width: 50%;
  }
  .col-md-6 #container {
    height: 285px;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-12  #p3 {
    width: 20%;
  }
}